project_id         = "my-gcp-project-id"
region             = "africa-south1"
environment        = "demo"
project_name       = "kasi-connect"
trusted_cidrs      = ["196.0.0.0/16"]
http_ingress_cidrs = ["0.0.0.0/0"]

# GKE
kubernetes_version = "1.29"
gke_machine_type   = "e2-standard-4"
gke_min_node_count = 2
gke_max_node_count = 4

# Database overrides (optional)
db_tier                        = "db-custom-2-7680"
db_storage_gb                  = 100
db_enable_deletion_protection  = false

# Redis
redis_tier           = "STANDARD_HA"
redis_memory_size_gb = 4

# Storage
bucket_force_destroy = true
